body {
    background-color: #343148;
    color: #fff;
    font-family: Arial, sans-serif;
}

nav {
    padding: 10px;
    background-color: #f0ead6;
    box-shadow: 10px 10px #161616;
}

main {
    padding-top: 100px;
    margin-bottom: 100px;
}

h1, h2, h3 {
    text-align: center;
    text-shadow: 3px 3px #000;
}

h3 {
    text-align: left;
}

a {
    text-decoration: none;
    font-weight: 500;
    color: #f0ead6;
}

a:hover {
    color: #161616;
}

th, td {
    text-align: center;
}

.modal-title, .modal-body {
    color: #161616;
}

.post_home {
    margin-top: 50px;
}

.title_post_home {
    font-size: 1.1em;
}

.excerpt_post_home, .table, .content_single_post, .comment {
    background-color: #f0ead6;
    color: #161616;
    margin-top: 30px;
    box-shadow: 10px 10px #161616;
    padding: 20px;
}

.date_post_home, .date_single_post {

    color: #fff;
    text-align: center;
}

.link_btn {
    background-color: #161616;
    padding: 10px;
}

.link_btn:hover {
    background-color: #fff;
    cursor: pointer;
}

.content_single_post {
    width: 90%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.dark_link {
    color: #161616;
    font-weight: bold;
}

.admin_posts, .admin_comments {
    padding: 20px;
}

.admin_comments {
    margin-top: 50px;
}

.btn {
    margin-top: 15px;
}

.log_form {
    width: 90%;
    margin: auto;
    margin-top: 100px;

}